
.welcome-home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 43px;
    margin-top: 40px;
}

#phone-number-group {
    margin-left: 0px;
    margin-right: 0px;
}

.flag-country-small {
    max-width: 20px;
}

.select2-selection.select2-selection--single{
    height: 33px !important;
}