
.register-image img {
    width: 120px;
    margin-bottom: 15px;
}

.description-reset {
    margin-bottom: 18px;
    font-size: 15px;
}

.activeContent .modal-content {
    border: 1px solid #737373;
}

#changePassword_settings {
    cursor: pointer;
}

.profile-about {
    margin-bottom: 20px;
}

.image-avatar {
    width: 100%;
    border-radius: 100%;
    height: 100%;
}

.banner-image {
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.auto_width_pr{
    width: 250px;
}