{% extends "admin/layouts/login.html" %}
{% block title %}Login{% endblock %}

{% block content %}

    <div id="wrap">
        <div id="content-main">
            <h1><i class="icon-lock icon-white"></i> Dashboard</h1>

            <form action="{% url 'admin:login' %}" method="post" id="login-form">
                {% csrf_token %}

                <div class="form-row control-group">
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}
                  </div>


                <div class="form-row control-group">
                    <label for="id_username" class="control-label required">Username:</label>
                    <input id="id_username" name="username"
                           type="text" class="form-control">

                </div>
                <div class="form-row control-group">
                    <label for="id_password" class="control-label required">Password:</label>
                    <input type="password" name="password"
                           required=""
                           id="id_password">

                    <input type="hidden" name="this_is_the_login_form" value="1">
                    <input type="hidden" name="next" value="{{ next }}">
                </div>


                <div class="submit-row">
                    <input type="submit" value="Log in" class="btn btn-info">
                </div>
            </form>

            <script type="text/javascript">
                document.getElementById('id_username').focus()
            </script>
        </div>
    </div>

{% endblock content %}