{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

    <link href="{% static 'admin/assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <link href="{% static 'admin/dist/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'node_modules/bootstrap-fileinput/css/fileinput.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/fileinput_custom.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <script src="{% static 'admin/assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'admin/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'admin/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'admin/assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'admin/dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'admin/dist/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'admin/dist/js/custom.min.js' %}"></script>
<!--This page JavaScript -->
<!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
<!-- Charts js Files -->
<script src="{% static 'admin/assets/libs/flot/excanvas.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'admin/dist/js/pages/chart/chart-page-init.js' %}"></script>
<script src="{% static 'admin/js/main.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/js/plugins/piexif.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/js/plugins/sortable.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/js/plugins/purify.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/js/fileinput.js' %}"></script>

</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    {% if not is_popup %}{% endif %}

    <header class="topbar" data-navbarbg="skin5">
        <div id="branding">
            {% block branding %}{% endblock %}
        </div>

        {% block nav-global %}
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="{% url 'admin:index' %}">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{% static 'admin/assets/images/logo-icon.png' %}" alt="homepage"
                                 class="light-logo"/>

                        </b>

                        <span class="logo-text">
                                {% trans 'Dashboard' %}
                            {% block welcome-msg %}
                                (<strong>{% firstof user.get_short_name user.get_username %}</strong>)
                            {% endblock %}
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a
                                class="nav-link sidebartoggler waves-effect waves-light"
                                href="javascript:void(0)" data-sidebartype="mini-sidebar"><i
                                class="mdi mdi-menu font-24"></i></a></li>

                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"><a class="nav-link waves-effect waves-dark"
                                                           href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                    class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="{% static 'admin/assets/images/users/1.jpg' %}" alt="user"
                                    class="rounded-circle"
                                    width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">

                                {% block usertools %}
                                    {% if has_permission %}

                                        {% block userlinks %}
                                            {% if site_url %}
                                                <a class="dropdown-item"
                                                   href="{{ site_url }}">{% trans 'View site' %}</a>
                                            {% endif %}


                                            <a class="dropdown-item" href="javascript:void(0)"><i
                                                    class="ti-user m-r-5 m-l-5"></i> My
                                                Profile</a>

                                            <a class="dropdown-item" href="javascript:void(0)"><i
                                                    class="ti-settings m-r-5 m-l-5"></i>
                                                Account Setting</a>


                                            {% if user.is_active and user.is_staff %}
                                                {% url 'django-admindocs-docroot' as docsroot %}
                                                {% if docsroot %}
                                                    <a class="dropdown-item"
                                                       href="{{ docsroot }}">{% trans 'Documentation' %}</a>
                                                {% endif %}
                                            {% endif %}

                                            {% if user.has_usable_password %}
                                                <a class="dropdown-item" href="{% url 'admin:password_change' %}"><i
                                                        class="ti-wallet m-r-5 m-l-5"></i> {% trans 'Change password' %}
                                                </a>
                                            {% endif %}

                                            <a class="dropdown-item" href="{% url 'admin:logout' %}"><i
                                                    class="fa fa-power-off m-r-5 m-l-5"></i> {% trans 'Log out' %}
                                            </a>
                                        {% endblock %}

                                    {% endif %}
                                {% endblock %}
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        {% endblock %}

    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->

    {% load active_link_tags %}

    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                {% active_link 'admin:auth_group_changelist' as group_menu %}
                {% active_link 'admin:users_users_changelist' as user_menu %}
                {% active_link 'admin:utils_variables_changelist' as variable_menu %}
                {% active_link 'admin:utils_artworks_changelist' as artworks_menu %}
                {% active_link 'admin:utils_contact_changelist' as contact_menu %}
                {% active_link 'admin:utils_gallery_changelist' as gallery_menu %}

                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                href="{% url 'admin:index' %}" aria-expanded="false"><i
                            class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                    <li class="sidebar-item {% if group_menu or user_menu  %} selected {% endif %} "><a
                            class="sidebar-link has-arrow waves-effect waves-dark {{ group_menu }} {{ user_menu }}"
                            href="javascript:void(0)" aria-expanded="false"><i
                            class="mdi mdi-receipt"></i><span class="hide-menu">Users </span></a>
                        <ul aria-expanded="false"
                            class="collapse  first-level {% if group_menu or user_menu%} in {% endif %} ">
                            <li class="sidebar-item"><a href="{% url 'admin:auth_group_changelist' %}"
                                                        class="{{ group_menu }} sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu">  Groups </span></a>
                            </li>

                            <li class="sidebar-item"><a href="{% url 'admin:users_users_changelist' %}"
                                                        class="{{ user_menu }} sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu">  Users </span></a>
                            </li>

                        </ul>

                        <li class="sidebar-item"><a href="{% url 'admin:utils_variables_changelist' %}"
                                                    class="{{ variable_menu }} sidebar-link"><i
                                class="mdi mdi-note-outline"></i><span class="hide-menu">  Variables </span></a>
                        </li>

                        <li class="sidebar-item"><a href="{% url 'admin:utils_artworks_changelist' %}"
                                                    class="{{ artworks_menu }} sidebar-link"><i
                                class="mdi mdi-note-outline"></i><span class="hide-menu">  Artworks </span></a>
                        </li>

                        <li class="sidebar-item"><a href="{% url 'admin:utils_gallery_changelist' %}"
                                                    class="{{ gallery_menu }} sidebar-link"><i
                                class="mdi mdi-note-outline"></i><span class="hide-menu">  Gallery </span></a>
                        </li>

                        <li class="sidebar-item"><a href="{% url 'admin:utils_contact_changelist' %}"
                                                    class="{{ contact_menu }} sidebar-link"><i
                                class="mdi mdi-note-outline"></i><span class="hide-menu">  Contacts </span></a>
                        </li>

                    </li>
{#                    <li class="sidebar-item {% if email_template %} selected {% endif %}"><a href="{% url 'admin:utils_emailtemplate_changelist' %}"#}
{#                                                class="{{ email_template }} sidebar-link"><i#}
{#                            class="mdi mdi-note-plus"></i><span class="hide-menu"> Email Template </span></a></li>#}

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->


        {% block breadcrumbs %}
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>{% if title %} &rsaquo;
                                    {{ title }}{% endif %}
                                </ol>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <!-- Content -->
                    <div id="content" class="{% block coltype %}colM{% endblock %}">

                        {% block messages %}
                            {% if messages %}
                                <ul class="messagelist">{% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                                {% endfor %}</ul>
                            {% endif %}
                        {% endblock messages %}

                        {% block pretitle %}{% endblock %}
                        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                        {% block content %}
                            {% block object-tools %}{% endblock %}
                            {{ content }}
                        {% endblock %}
                        {% block sidebar %}{% endblock %}
                        <br class="clear">
                    </div>
                    <!-- END Content -->
                </div>
            </div>

        </div>


        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        {% block footer %}
            <footer class="footer text-center">
                All Rights Reserved by reddit.loc.
            </footer>
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->


</body>




