{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

    <link href="{% static 'admin/assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <link href="{% static 'admin/dist/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/custom.css' %}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>
{% load i18n %}

<body class="login-layout login"
      data-admin-utc-offset="{% now "Z" %}">


<!-- Content -->
{% block content %}
    {% block object-tools %}{% endblock %}
    {{ content }}
{% endblock %}
{% block sidebar %}{% endblock %}
<br class="clear">
<!-- END Content -->

<script src="{% static 'admin/assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'admin/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'admin/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'admin/assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'admin/dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'admin/dist/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'admin/dist/js/custom.min.js' %}"></script>
<!--This page JavaScript -->
<!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
<!-- Charts js Files -->
<script src="{% static 'admin/assets/libs/flot/excanvas.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
<script src="{% static 'admin/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'admin/dist/js/pages/chart/chart-page-init.js' %}"></script>

</body>




