<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {% if not field.is_hidden %}
                               {{ field.label_tag }}
                        {% endif %}

                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}

                            {% if field.field.name == 'value' %}
                                {% if original.getTypeName == 'image' %}
                                    <input type="file" name="images" accept="image/*" id="id_images" multiple>
                                {% elif original.image == 'textArea' %}
                                        {{ field.field }}
                                {% elif original.getTypeName == 'text' %}
                                     <input type="text" name="value" value="{{ original.value }}">
                                {% elif original.getTypeName == 'number' %}
                                    <input type="number" name="value" value="{{ original.value }}" min="1">
                                {% elif original.getTypeName == 'select' %}
                                    {{ field.field }}
                            {% else %}
                                {{ field.field }}
                            {% endif %}
                        {% else %}
                             {{ field.field }}
                         {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
