.login-layout .label.label-danger {
    padding: 11px;
    margin-top: 10px;
}


.login-layout #main-wrapper[data-sidebartype=full] .page-wrapper{
    background: white;
    margin-left: 0px;
}

.lgn-container.col-lg-5.card
{
        margin: 0 auto;
}

#wrap {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto -60px;
}

.login #content-main {
    margin: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.07);
    border-radius: 4px;
    background: #fff;
    padding: 0;
    position: absolute;
    width: 340px;
    left: 50%;
    top: 35%;
    margin-left: -170px;
    margin-top: -100px;
}

.login #content-main h1 {
    font-size: 14px;
    font-weight: 400;
    background-color: #5295b0;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#83b3c3),to(#5295b0));
    background-image: -webkit-linear-gradient(#83b3c3,#5295b0);
    background-image: -moz-linear-gradient(#83b3c3,#5295b0);
    background-image: -o-linear-gradient(top,#83b3c3,#5295b0);
    background-image: -khtml-gradient(linear,left top,left bottom,from(#83b3c3),to(#5295b0));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";
    color: #fff;
    text-shadow: 0 1px #4f7f92;
    padding: 0 15px;
    margin: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.login #content-main form {
    margin: 15px 15px 0;
}

.login #content-main .control-group {
    border: 0;
   margin-bottom: 12px;
}

.login #content-main form input[type=password], .login #content-main form input[type=text] {
    width: 100%;
}

.login #content-main .submit-row {
    background: #F6F7F8;
    margin: 10px -15px 0;
    padding: 10px 15px;
    border-top: 1px solid #eee;
    box-shadow: inset 1px 1px 0 #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.login #content-main h1{
    padding: 12px;
}


#content-main fieldset{
      padding: 10px;
}

#content-main fieldset .errorlist{
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}

div.breadcrumbs {
    background: #1f262d;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
}

.module h2, .module caption, .inline-group h2 {
    background: #1f262d;
    color: #fff;
}


.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #1f262d;
}

.button.default, input[type=submit].default, .submit-row input.default{
        background: #1f262d;
}

.submit-row a.deletelink{
        height: 33px;
}

.delete-confirmation form .cancel-link{
    padding: 21px 15px;
    align-items: center;
    text-align: center;
    line-height: 0;
}

#changelist #toolbar form #searchbar{
          height: 29px;
}

li {
    list-style-type: none !important;
}

#variables_form .form-row.field-value:first-child div
{
    width: 100%;
}

.kv-file-zoom.btn-sm.btn-kv.btn-default.btn-outline-secondary
{
    display: none;
}
.kv-file-remove.btn-outline-secondary
{
    color: red;
}

.img-variable
{
    max-width: 150px;
}