
.file-caption.form-control.kv-fileinput-caption.icon-visible {
    width: 100%;
    margin-bottom: 20px;
}

.file-caption.icon-visible .file-caption-name {
    padding-left: 22px;
}

.krajee-default .file-caption-info, .krajee-default .file-size-info {
    height: 21px;
}

.file-footer-buttons button, .kv-zoom-actions button {
    background: none;
}

.file-footer-buttons {
    padding-bottom: 13px;
}

.krajee-default .file-drag-handle, .krajee-default .file-upload-indicator {
    margin-top: 2px;
    width: 25px;
}

.file-zoom-dialog.modal .modal-body {
    max-height: 100%;
}

.file-zoom-fullscreen .modal-dialog {
    min-width: 100%;
    margin: 0
}

.file-zoom-fullscreen .modal-content {
    border-radius: 0;
    box-shadow: none;
    min-height: 100vh
}

.file-zoom-fullscreen .modal-body {
    overflow-y: auto
}

.btn.btn-navigate.btn-prev {
    background: none;
    border: 0px;
    margin-left: 20px;
}

.btn.btn-navigate.btn-next {
    background: none;
    border: 0px;
    margin-right: 20px;
}

.file-zoom-dialog .btn-navigate {
    top: 38%;
}

.file-zoom-dialog.modal.fade.file-zoom-fullscreen {
    max-width: 100%;
    width: 100%;
    left: 0px;
    margin-left: 0px;
    top: 0px;

}

.file-input.file-input-ajax-new {
    margin-right: 20px;
}

.kv-file-upload.btn.btn-sm.btn-kv.btn-default.btn-outline-secondary{
    display: none;
}