.home-section-image {
    max-width: 400px;
}
.text-danger{
    color: #dc3545!important;
}
.label-forms {    margin-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
}

.form-row {
    margin-bottom: 40px;
}

.form-row label {
    min-width: 130px;
}

.form-row.errors {
    margin-bottom: 20px;
        padding-bottom: 11px;
}

.img-gallery{
    max-width: 100px;
}